<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>common.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C677E90FCB34A3CBBC87FDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48D0E848323F4048AEAEF051</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>620B79E245314D65A15624A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C1D03D4BC9D42C68D81C256</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91440FE372F34EFF82EE1D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1D72D24AAC8451FAE6584B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
